.article{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.article{
    width: 80vw;
    height: auto;
}
.article__title{
    width: 75vw;
    height: auto;
}
.article__img{
    height: 15vh;
    width: auto;
}