.content{
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 60vh;
    background-color: $grey;
    border: solid black 2px;
    z-index: 100;
    border-radius: 5px;
    text-align: center;
    button{
        opacity: 1;
        border-radius: 5px;
        font-weight: bolder;
        font-family: "kids", cursive;
        font-size: 1.2em;
        color: white;
        background-color: darkred;
        border:none;
        text-align: center;
        position: fixed;
        top: 11vh;
        left: 80vw;
        z-index: 1000;
    }
    h3{
        margin-top: 5vh;
        font-size: 1.8em;
        margin-bottom: 5vh;
    }
    p{
        margin: 0;
    }

}
li:hover{
    background-color: grey;
}
.pizza__taille{
    width:80%;
    border: 4px solid black;
    height: 10vh;
    display: flex;
    transform: translateX(12%);
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vh;
    border-radius:10px;
    i{
        color: $yellow;
    }
}
.grande{
    font-size: 2.5em;
}
.moyenne{
    font-size: 1.8em;
}
.petite{
    font-size: 1.3em;
}
.achat{
    position: fixed;
    top: 40vh;
    left: 10vw;
    width: 80vw;
    height: 15vh;
    background-color: $grey;
    z-index: 100;
    border-radius: 5px;
    border: solid black 2px;
    text-align: center;
    button{
        opacity: 1;
        border-radius: 5px;
        font-weight: bolder;
        font-family: "kids", cursive;
        font-size: 1.2em;
        color: white;
        background-color: darkred;
        border:none;
        text-align: center;
        position: fixed;
        top: 41vh;
        left: 80vw;
        z-index: 1000;
    }
    h2{
        margin-top: 5vh;
        font-size: 2em;
    }
}
