.header{
    background: $degrade_grey;
    height: 6vh;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 20;
}
.headers{
    width: 33vw;
    display: flex;
    margin-top: 1vh;
    text-align: center; 
}
.headers--left{
    a{
        margin-left: 3vw;
 
    }
}
.headers--title{
    font-family: "arcadeClassic", sans-serif;
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 180%;
    @include medium{
        font-size: 3em;
        @include landscape{
            font-size: 2em;
        }
    }
    @include large{
        font-size: 2em;
    }
}
.headers--right{
    flex-direction: row;
    justify-content: flex-end;
    a{
        margin-left: 1vw;      

    }       
    @include large
        {
            margin-right: 3vw;
        }
}
.headers__round{
    border-radius: 50%;
    background-color:$white;
    height: 4vh;
    width: 4vh;     
    display: table-cell;
    vertical-align: middle;
    i{
        color:$grey;
        font-size: 1.1em;
        @include medium{
            font-size: 1.8em;
            @include landscape{
                font-size: 1.4em;
            }
        }
        @include large{
            font-size: 1.4em;
        }
    }
    &:hover{
        transform: scale(1.2, 1.2);
        i{
            color:$grey_bis;
        }
    }
}
.headers__round--red{
    background-color: $red;
}
.headers__round--yellow{
    background-color: $yellow;
}
.headers__round--green{
    background-color: $green;
}