.home{   
    height: 100vh;  
    width: 100vw;
    background-image: url(./../img/jpeg/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position : center center; 
    text-align: center;
    position: relative;
    overflow-x: hidden;
    @include medium{
        overflow-y: hidden;
    }
    @include large{
        overflow-y: hidden;  
    }

  }
.home__logo{
    margin-top: 3vh;
    @include movement3;
    @include large{
        margin-top: 0%;
        position: absolute;
        left:5vw;   
    }
    img{
        height: 20vh;
        width: auto;
        @include medium{
            width: 45vw;
            height: auto;
        }
        @include large{
            width:25vw;
            height: auto;
            transform: translateY(-15%);
        }
    }
}
.home__perso{
    position: absolute;
    top: 18vh;
    left: 70vw;
    @include medium{
        top: 15vh;
        left: 80vw;
    }
    @include large{
        top:7vh;
        left:75vw;
    }
    @include movement1;    
    img{
        height: 12vh;
        width: auto;
        @include medium{
            width:14vw;
            height: auto;
        }    
        @include large{
            width: 10vw;
            height: auto;
        }
    }
}
.home__link{
    margin-top: 5vh;
    @include medium{
        margin-top:0;
        transform: translateY(-5%);
    }
    @include large{
        margin-top: 10vh;
    }   
    img{
        transition-duration:2s;
        width: 90vw;
        @include large{
            width: 45vw;
        }
    }
    img:hover{
        transform: rotate(180deg);
    }
}
.home__text{
    @include movement4(20%,0%);
    @include large{
        display: none;
    }
    img{
        height:6vh ;
        @include medium{
            transform: translateY(-100%);
        }

    }
}
  