.home{   
    height: 100vh ;  
    width: 100vw;
    background-image: url(./../img/jpeg/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position : center center; 
    text-align: center;
    position: relative;
  }
.home__logo{
    margin-top: 10vh;
    @include movement3;
    img{
        height: 23vh;
        width: auto;
    }
}
.home__perso{
    position: absolute;
    top: 20vh;
    left: 70vw;
    @include movement1;
    img{
        height: 12vh;
        width: auto;
    }
}
.home__link{
    margin-top: 5vh;    
    img{
        transition-duration:2s;
        width: 80vw;
    }
    img:hover{
        transform: rotate(180deg);
    }
}
.home__text{
    @include movement4(20%,0%);
    img{
        height:6vh ;
    }
}
  