.main__body{
    position: relative;
    height: 800vh;
    background-image: url(./../img/jpeg/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position : center center; 
    padding-top: 6vh;
    overflow-x: hidden;
}