.stars{
    z-index: -50;
    opacity: 0.4;
    position: relative;
    display: flex;
}
.star{
    position: absolute;
}
.star:nth-child(1){
    top: 80px;
    height: 290vh;
}
.star:nth-child(2){
    height: 320vh;
} 
