.store{
    padding-top: 8vh;   
    padding-bottom: 5vh;    
    h2{
        font-size: 3em;
    }
    @include large{
        padding-top: 15vh;
    }
}
.store__article{
    text-align: justify;
    width: 90vw; 
    p{
        margin-bottom: 20px;
    }
}
.store__div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    @include medium{
        @include landscape{
            flex-wrap: wrap;
            flex-direction: row;
            justify-content:space-evenly;
        }
    }
}
.slider{
    width: 80%; 
    max-width: 1000px; 
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 25px;
    @include medium{
        @include landscape{
            width: 40vw;
        }
    }
    @include large{
        width: 30vw;
    }
    figure{
        position: relative; 
        width: 500%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
        @include slide;
    }
}
.store__img{
    width: 20%; 
    height: auto; 
    float: left;
}
.store__p{
    padding-left: 40px;
    padding-right: 40px;
    @include large{
        padding-left: 90px;
        padding-right: 90px;
    }
}
.store__p--modifier{
    text-align: center;
}
.mapouter{    
    height:50vh;
    width:70vw;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    @include medium{
        @include landscape{
            width: 40vw;
            padding-bottom:35%;
        }
    }
    @include large{
        width: 30vw;
        padding-bottom:25%;
    }
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}