@font-face
{
    font-family: arcadeClassic;
    src:url('./../fonts/arcadeclassic.TTF') format('ttf');
}
@font-face
{
    font-family: miracle;
    src: url('./../fonts/miracle.otf') format('otf');
}