$grey: #1e1e1e;
$grey_bis:#4c4c4c;
$degrade_grey: linear-gradient(to bottom, 
#1e1e1e 0%,
#2c2c2c 10%,
#2c2c2c 90%,
#1e1e1e 100%);
$red:#ff4545;
$yellow:#ffff5f;
$green:#7dff4d;
$white:#dddddd;
$orange:#ff8800;
