
@import'vendors/reset.scss';

@import'config/mixins.scss';
@import'config/medias.scss';
@import'config/colors.scss';

@import'global/fonts.scss';

@import'blocs/home.scss';
@import'blocs/header.scss';
@import'blocs/main.scss';

